.item-image{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.item-card{
    width: 250px;
    border-radius: 8px;
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: 2px 2px 6px rgba(0, 0,0, 0.1);
}
.item-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}
.read-more{
    padding: 10px 20px;
    background-color: blue;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bolder;

}